<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      </br>
      <h1>Filter Out Employee Details!</h1>
      <br>
      <form action="/filter_emp" method="POST">
      {% csrf_token %}
      <div class="row g-3 align-items-center">
        <div class="mb-3 row"><label for="name" class="col-sm-2 col-form-label">Employee Name</label>
          <div class="col-sm-8"><input type="text" id="name" name="name" class="form-control" value="{{ name }}"></div></div>

          <div class="mb-3 row"><label for="role" class="col-sm-2 col-form-label">Role</label>
          <div class="col-sm-7"><input type="text" id="role" value="{{ role }}" name="role" class="form-control"></div></div>

          <div class="mb-3 row"><label for="dept" class="col-sm-2 col-form-label">Department</label>
          <div class="col-sm-7"><input type="text" id="dept" value="{{ dept }}" name="dept" class="form-control"></div></div>

          <div class="d-grid gap-2 col-4 mx-auto"><button class="btn btn-primary" type="submit">Submit</button></div>

        </div>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
